<%-include("header")-%>



  <div class="container">
    <div class="getAndAdd">

      <a href="/home/createList/<%= userIdName %>"><i class="fas fa-edit"></i></a>

      <a href="/home/<%= userIdName %>"><i class="fas fa-list-ul"></i></a>
    </div>
    <ul class="listCont">
      <div class="noteHeader">
        <div class="headerDate">
          <div class="box1">
            <div class="box2">
              <div class="dateCont"><%= cDay %><sup>th</sup></div>
            </div>
          </div>
          <div class="monthName"><%= cMonth %></div>
        </div>
        <div class="listTitle">
          <%= listTitelim %>
        </div>
      </div>
      <div class="topLine"></div>
      <div class="topLine"></div>
      <% for(var i=0 ; i<listItems.length ; i++){ %>
        <div class="listcontainer">
          <li class="list_item">
            <form id="cmpltBtn" action="/complete/<%= listItems[i].userId %>/<%= listItems[i]._id %>" method="POST">
              <button id="chkbox" name="cpltItem" value="<%= listItems[i].listTitel %>" type="submit">
              <% if( listItems[i].complete_status === "empty_it" ){ %>
                <i class="far fa-circle"></i>
              <% }else{ %>
                <i class="far fa-check-circle"></i>
              <% } %>
              </button>
            </form>
            <span class="<%= listItems[i].complete_status %>">
             <%= listItems[i].listItem %>
            </span ><br /><span class="timeShow">
              <%= listItems[i].timeAll %>
            </span>
          </li>
          <form class="deletebtn" action="/deleteindi/<%= listItems[i].listTitel %>/<%= listItems[i]._id %>"
            method="POST">
            <button id="deletebutton" name="delItem" value="<%= listItems[i].userId %>" type="submit"
              onclick='return confirmDeleteSingle()'><i class="far fa-times-circle"></i></button>
          </form>
        </div>

        <% } %>
        <form class="inputCont" action="/add/<%= userIdName %>/<%=  listTitelim  %>" method="POST">
          <input type="text" id="name" name="listitem" autocomplete="off" placeholder="Add Task" required />
          <button type="submit" name="TitelValue" value="<%=  listTitelim %>">+</button>
        </form>
        <div class="bottomPart"></div>

    </ul>


    <form action="/delete/<%= userIdName %>/<%= listTitelim  %>" method="POST" class="deleteContainer">

      <button type="submit" class="deleteList" name="clearList" onclick='return confirmDeleteAll()'>Delete All</button>

    </form>

  </div>

  <script>
    function confirmDeleteAll() {
      var agree = confirm("Are you sure to delete the whole list?");
      if (agree)
        return true;
      else
        return false;
    }
    function confirmDeleteSingle() {
      var agree = confirm("It will delete the single list item.. ");
      if (agree)
        return true;
      else
        return false;
    }
  </script>
  <%-include("footer")-%>